@media all and (max-width:767px) {
    body{
        
        
        margin: 0px;
    }

    .header{
        padding-left: 0px;
    }
    
    .headrecherche{
        width: 305px;
    }

    nav.nav{
        display: block;

    }
    ul.menu{
        width: 100%;
        
    }

    

    .menu-item.login{
        border-bottom: 0px;
        position: relative;
        bottom: 50px;
        padding: 0px;
        
    }

    .menu-item1{
        border-bottom: 2px solid #0065fc;
    }
    
     .bordernav.menuact{
        position: relative;
        left: 55px;
        border-bottom: 2px solid #f2f2f2;
        
        
    }
    

    .bordernav a:hover{
        border-top: 0px;
        
    }

    .bordernav{
        border-top: 0px;
        
        
        
    }

    li.menu-item:hover a{
        color: #7fb2fd;
    }
    
    

    .place{
        width: 190px;
    }
    .recherche{
        width: 55px;
        border-radius: 15px;
    }
    
    .titrevacance{
        width: 75%;
        margin-bottom: 15px;
    }
    .filtre{
        flex-direction: column;
        align-items: flex-start;
    }

    .titreeco{
        width: 175px;

    }

    .titrefamilial{
        width: 140px;
        position: relative;
        left: 190px;
        bottom: 50px;
    }

    .titreroman{
        width: 165px;
        position: relative;
        bottom: 35px;
    }
    
    .titreanimaux{
        width: 200px;
        position: relative;
        bottom: 20px;
    }
    .flexinfo{
        width: 90%;
    }
    .container{
        flex-direction: column-reverse;
       
    }
        
    .containerpopulaire{
        width: 100%;
        padding: 0px;
        margin: 0px;
        
        
    }
    .lienpopulaire{
        height: 145px;
        width: 95%;
    }

    .blocpopulaire{
        width: 96%;
    }
    .containerhebergement{
        width: 100%;
        margin-right: 0;
        height: auto;
       
       background-color: white;
       padding: 0px;
    }

    .hebergh2{
        padding-left: 0px;
        
    }

    .acth2{
        margin-left: 25px;
    }
    .lienhebergement{
        width: 95%;
        
    }
    .blocpart1{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
        margin-bottom: 0px;
        align-items: center;
        
    }
    .lien2{
        width: 95%;
    }

    .blocpart2{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        margin-top: 0px;
        align-items: center;
    }
    .bloc1hebergement{
        width: 96%;
        margin-bottom: 15px;
        
    }

    .bloc2hebergement{
        width: 96%;
        margin-bottom: 15px;
    }

    .foothebergement{
        padding-left: 0px;
        margin-top: 0px;
    }

   

    .boxactivite{
        flex-direction: column;
        height: initial;
        justify-content: space-between;
        width: 96%;
        display: flex;
        align-items: center;
        
         
    }

    .lienvieux, .liencal{
        width: 96%;
        height: 190px;
        margin-bottom: 20px;
    }
    .divvieux, .dical{
        width: 100%;
        height: 100%;
        
    }

    .imgvieux{
        height: 75%;
    }

    .divact{
        width: 100%;
        height: initial;
        align-items: center;
    }
    
    .lienpom, .lienfri, .liendame, .lienlong{
        width: 96%;
        height: 190px;
        margin-bottom: 20px;
    }
    .divpom, .divfri, .divdame, .divlong{
        width: 100%;
        height: 100%;
        
    }


    
    

    .imgcal{
        height: 75%;
    }
    

    .divfooter{
        width: 96%;
        height: 485px;
        flex-direction: column;
        padding: 0px;
    }

    .divfooter1, .divfooter2, .divfooter3{
        width: 100%;
        margin-right: 0px;
        padding-left: 30px;
        
    }

    figure{
        margin: 0;
        padding: 0px;
    }

    }