body{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

    


nav.nav{
    display: flex;
    justify-content: space-between;
    
       
}

div.div{
display: flex;
list-style-type: none;

}


ul.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;

}

li.menu-item a{
    text-decoration: none;
    color: #0065fc;
}

li.menu-item.login a{
    font-weight: bold;
}

li.menu-item:hover a{
    color: #7fb2fd;
}















.headhebergement{
    display: flex;
    
}

.titrevacance{
    margin-bottom: 0;
    padding-bottom: 0;
}

.paragrapheville{
    margin-top: 0;
}

.headrecherche{
    display: flex;
    width: 400px;
    height: 50px;
}


.icon{
    width:  50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    
}

.search{
    height: 50px;
    width: 230px;
    font-weight: lighter;
    border-color: #f2f2f2;
    border-style:  solid;
    border-width: 1px;

}

.place{
    height: 50px;
    width: 250px;
}




.recherche{
    width:  150px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: #0065fc;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    border: none;
}


/*filtre*/

.sectionfiltre{
    display: flex;
    flex-direction: column;
}

.spacefiltre{
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.filtre{
    display: flex;
    align-items: center;
    
}


.infoville{
    margin: 5px;
}
.flexcentre{
    
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;

}

.flexbetween{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.titrefiltre{
    margin-right: 20px;
}


.titreincon{
    border: 2px solid #f2f2f2;
    height: 42px;
    border-radius: 30px ;
    margin-right: 20px;
    width: 200px;
}

.titreeco{
    width: 13%;
}

.titrefamilial{
    width: 10%;
}

.titreroman{
    width: 12%;
}

.flexincon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #0065fc;
    background-color: #deebff;
    margin: 0px;
    
   
}

.flexnom{
    display: flex;
    margin: auto;

}


.flexinfo{
    display: flex;
    
}

.infoicon{
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    color: #0065fc;
    border-radius: 20px;
    
   
}

/*hebergement*/


.container{
    display: flex;
    
    width: 100%;
    margin-bottom: 10px;

}

.starnone{
    color: #f2f2f2;
}

.containerhebergement{
    
    height: 590px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    
     
    width: 70%;
    

}

.partiehebergement{
    display: flex;
    width: 100%;
    height: 430px;
    flex-wrap: wrap;
    margin: 0;
    
    
}

.hebergh2{
    display: flex;
    margin-top: 25px;
    padding-left: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
  
.figurehebergement1{
    border-radius: 15px 15px 15px 15px;
    width: 27%;
    height: 43%;
    background-color: white;
    padding: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
    

}


.img1{
    width: 100%;
    height: 60%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
    

.caption1{
    width: 100%;
    height: 30%;
    flex-direction: column;
    padding-left: 10px;
    margin: 0px;
    

}

.title1{
    
    margin: 5px;

}

.paragraphe1{
    margin: 5px;
}


.foothebergement{
    
    padding-right: 30x;
   
    padding-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 25px;
}

.divstarhebergement1{
    margin: 5px;
    color: #0065fc;
    margin-top: 0px;
}








.divpartie2{
    display: flex;
    margin-bottom: 60px;
}


.flexpopulaire{
    display: flex;
    justify-content: space-around;
    
    
    
}
  
.figurehebergement2{
    border-radius: 20px 20px 20px 20px;
    
    height: 200px;
    background-color: white;
    padding: 5px;
    margin: 20px;
    width: 30%;
    border: 2px solid;
}


.img2{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}
    

.caption2{
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
    margin: 0px;

}

.title2{
    
    margin: 5px;

}

.paragraphe2{
    margin: 5px;
}


.divstarhebergement2{
    margin: 5px;
    color: #0065fc;
      
}




/*les plus populaire*/


.containerpopulaire{
    
    height: 590px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 28%;
    display: flex;
    flex-direction: column;
    
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
    
}






.figurepopulaire{

    background-color: white;
    display: flex;
    border-radius: 15px 15px 15px 15px;

    height: 140px;
    width: 90%;
    margin: 10px;
    
}



.img3{
    width: 35%;
    height: 130px;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
    object-fit: cover;
}

.caption3{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    
}



.litle3{
    margin-top: 15px;
}
.paragraphe3{
    margin-bottom: 20px;
    margin-top: 0px;
    
}


.divstarpopulaire{

    padding-bottom: 10px;
    color: #0065fc;
}











/*activités à Marseille*/

.sectionactivite{
    margin-top: 50px;
    margin-bottom: 50px;
}


.boxactivite{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
   
}


.figurevieux{
    
    width: 23%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0px;
}

.imgvieux{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}

.figurepom{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;
}


.imgpom{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.divact{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.figurefri{
    width:  100%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;

}


.imgfri{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    }

    .figurecal{
    
        width: 23%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        margin: 0;
        
    }
    
 
    .imgcal{
        width: 100%;
        height: 90%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        
    }



    .img6{
        width: 100%;
        height: 430px;
        border-radius: 20px 20px 0px 0px;
        
    }


    .figuredame{
        width: 100%;
        height: 45%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        margin: 0;
    }
    
    
    .imgdame{
        width: 100%;
        height: 80%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
}



.figurelong{
    width: 100%;
    height: 45%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;

}


.imglong{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}




.captionact{
    margin-left: 25px;
    padding-top: 10px;
}









/*footer*/


    
.containerfooter{
        width: 100%;
    }

    .divfooter{
        display: flex;
        width: 100%;
        margin-top: 10px;
        background-color: #f2f2f2;
        height: 300px;
        margin-top: 100px;
    
        margin: 0px;
        

    }

    .divfooter1,.divfooter2,.divfooter3{
       
        width: 25%;
        padding-right: 6%;
        
    }

    .divfooter2{
        padding-bottom: 2.8%;
        
    }

    .divfooter3{
        
        
    }