body{
    
    
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    

}


    

nav.nav{
    display: flex;
    justify-content: space-between;
    
       
}

div.div{
display: flex;
list-style-type: none;

}


.bordernav a:hover{
    border-top: 2px solid #0065fc;
    padding: 20px;
}

ul.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;
    padding: 0px;

}

li.menu-item1 a{
    text-decoration: none;
    color: #0065fc;
}

li.menu-item a{
    text-decoration: none;
    color: #0065fc;
}

.menuact a{
    color: black;
    text-decoration: none;
}

li.menu-item.login a{
    font-weight: bold;
    
}

li.menu-item:hover a{
    color: #7fb2fd;
}















.headhebergement{
    display: flex;
    
}

.titrevacance{
    margin-bottom: 0;
    
}

.paragrapheville{
    margin-top: 0;
}

.headrecherche{
    display: flex;
    width: 375px;
    height: 50px;
}

.headrecherche :hover{
    cursor: pointer;


}

.placeholder{
    padding-left: 45px;
}


.icon{
    width:  43px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    
}

.search{
    height: 50px;
    width: 210px;
    font-weight: lighter;
    border-color: #f2f2f2;
    border-style:  solid;
    border-width: 1px;
    padding-left: 15px;

}


.place{
    height: 50px;
    width: 230px;
}




.recherche{
    width:  150px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: #0065fc;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
}

.recherche :hover{
    cursor: pointer;
    background-color: #7fb2fd;
}


/*filtre*/

.divfiltre0{
    display: flex;
    flex-direction: column;
}

.spacefiltre{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.filtre{
    display: flex;
    align-items: center;
    font-weight: bold;
    
}
.filtre :hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.09);
}

.infoville{
    margin: 5px;
}
.flexcentre{
    
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;

}

.flexbetween{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.titrefiltre{
    margin-right: 20px;
}


.titreincon{
    border: 2px solid #d9d9d9;
    height: 45px;
    border-radius: 30px ;
    margin-right: 25px;
    width: 220px;
}
.titreincon :hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.09);
    
    

}

.titreeco{
    width: 195px;
}

.titrefamilial{
    width: 160px;
}

.titreroman{
    width: 185px;
}

.flexincon{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #0065fc;
    background-color: #deebff;
    margin: -5px;
}

.flexincon :hover{
    
    cursor: pointer;
    

}
.flexnom{
    display: flex;
    margin: auto;

}


.flexinfo{
    display: flex;
    
}

.infoicon{
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    color: #0065fc;
    border-radius: 20px;
    margin-right: 10px;
   
}

/*hebergement*/


.container{
    display: flex;  
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;    
}


.containerhebergement{ 
    height: 625px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-right: 15px;
    display: flex;  
    flex-direction: column;
    width: 70%;
    padding: 10px;       
}

.hebergh2{
    display: flex;
    padding-left: 35px;
      
    
}

.partiehebergement0{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

/*partie 1 hebergement*/

.blocpart1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 15px;
    
    
}

.stargris{
    color: #d9d9d9;
}

.lienhebergement{
    width: 29%;
    text-decoration: none;
    color: black;
}

.bloc1hebergement{
    width: 100%;
    background-color: white;
    height: 200px;
    padding: 5px;
    border-radius: 15px; 
    box-shadow: 6px 6px 6px 6px #e8e8e8;
}

.bloc1hebergement :hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);

}


.figurehebergement{
    margin: 0px;
    
    
}

.image1{
    width: 100%;
    height: 129px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.captionheb1{
    padding-top: 5px;
    padding-left: 5px;
}


.title1{
    margin: 0px;
    font-size: 0.95em;
}

.paragraphe1{
    margin-top: 5px;
   margin-bottom: 0px;
   font-size: 00.95em;  
}

.spanstar{
    margin-top: 5px;
    color: #0065fc;
}

.starnone{
    color: #d9d9d9;
}



/* partie 2 hebergement*/

.blocpart2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 15px;
}

.lien2{
    width: 29%;
    text-decoration: none;
    color: black ;
}

.bloc2hebergement{
    width: 100%;
    background-color: white;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 6px #e8e8e8;
    
}

.bloc2hebergement :hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);

}

.figurehebergement3{
    margin: 0px;
}

.image2{
    width: 100%;
    height: 129px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.captionheb2{
    padding-top: 5px;
    padding-left: 5px;
}


.title2{
    margin: 0px;
    font-size: 00.95em;
}

.paragraphe2{
    margin-top: 5px;
   margin-bottom: 0px;
   font-size: 00.95em;  
}

.spanstar{
    margin-top: 5px;
    color: #0065fc;
}


.foothebergement{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 35px;
    margin-top: 15px;
}



/*les plus populaire*/


.containerpopulaire{  
    height: 625px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;   
}

.flexpopulaire{
    width: 95%;
    display: flex;
    justify-content: space-between; 
}
.titrepo{
    margin: 0px;
}
  
.charte{
    font-size: 20px;
    
}

.lienpopulaire{
    height: 23%;
    text-decoration: none;
    color: black;
}

.blocpopulaire{
    background-color: white;
    display: flex;
    border-radius: 15px;
    width: 85%;
    height: 100%;
    padding: 5px;
    margin: auto;
    box-shadow: 6px 6px 6px 0px #e6e6e6;
    
}

.blocpopulaire :hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);

}

.figurepopulaire{
    display: flex;
    margin: 0px;   
}

.img3{
    min-width: 130px;
    width: 35%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}


.caption3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    padding-left: 15px;
    padding-top: 10px;
}


.title3{
    
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 00.95em;
}

.paragraphe3{
    margin-top: -10px;
    font-size: 0.95em;
}

.divstarpopulaire{
    margin-bottom: 10px;
    color: #0065fc;
}

.fas.fa-star{
    font-size: 12px;
}









/*activités à Marseille*/

.sectionactivite{
    margin-top: 25px;
    margin-bottom: 50px;
}


.boxactivite{
    display: flex;
    width: 100%;
    height: 480px;
    justify-content: space-between;
}

.boxactivite :hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);

}

.lienvieux{
    width: 23%;
    text-decoration: none;
    color: black;
}


.divvieux{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0px;
}

.figurevieux{
margin: 0px;
height: 100%;
}

.imgvieux{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.lienpom{
   width: 100%;
   height: 52%; 
   text-decoration: none;
   color: black;
}

.divpom{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;
}

.figurepom{
    margin: 0px;
    height: 100%;
}

.imgpom{
    width: 100%;
    height: 82%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.divact{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.lienfri{
    width: 100%;
    height: 36%;
    text-decoration: none;
    color: black;
}

.divfri{
    width:  100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;
}

.figurefri{
    margin: 0px;
    height: 100%;
}

.imgfri{
    width: 100%;
    height: 73%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}

.liencal{
    width: 23%;
    text-decoration: none;
    color: black;
}
.divcal{ 
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;        
}
    
.figurecal{
    margin: 0px;
    height: 100%;
}
 
.imgcal{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.liendame{
    width: 100%;
    height: 43%;
    text-decoration: none;
    color: black;
}


    .divdame{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        margin: 0;
    }
    
    .figuredame{
        margin: 0px;
        height: 100%;
    }
    
    .imgdame{
        width: 100%;
        height: 79%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
}

.lienlong{
    width: 100%;
    height: 46%;
    color: black;
    text-decoration: none;
}


.divlong{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 0;

}

.figurelong{
    margin: 0px;
    height: 100%;
}

.imglong{
    width: 100%;
    height: 79%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}




.captionact{
    margin-left: 25px;
    padding-top: 10px;
    font-weight: bold;
}









/*footer*/


    
.containerfooter{
        width: 100%;
        height: auto;
    }

    .divfooter{
        display: flex;
        width: 100%;
        margin-top: 10px;
        background-color: #f2f2f2;
        height: 300px;
        margin-top: 100px;
    
        margin: 0px;
        

    }

    .divfooter1,.divfooter2,.divfooter3{
       
        width: 25%;
        margin-right: 5%;
        
    }

    .divfooter2{
        padding-bottom: 2.8%;
        
    }

    