@media all and (min-width: 768px) and (max-width: 1024px) {
.body{
    padding: 0px;
    margin: 0px;    
}

.logoreservia{   
    width: 200px;
}
.nav{
    flex-direction: column;
}

.nav .nav{
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
}

.menu{
    margin: auto;
    margin-bottom: 30px;
}

.bordernav a:hover{
    padding-top: 20px;
}
.titrevacance{
    display: flex;
    justify-content: center;
}

.headhebergement{
    justify-content: center;  
}

.paragrapheville{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.filtre{
    height: initial;
    margin-bottom: 20px;
    flex-direction: column;
}

.titreicon, .titrefamilial, .titreeco,.titreroman, .titreanimaux{
    margin-bottom: 10px;
}

.container{
    flex-direction: column-reverse;
}

.containerpopulaire{ 
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.lienpopulaire{
    height: 145px;
    width: 90%;
}

.blocpopulaire{
    width: 90%;
}

.containerhebergement{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.boxactivite{
    flex-direction: column;
    width: 100%;
    height: initial;
}

.lienvieux, .lienpom, .lienfri, .liencal, .liendame, .lienlong{
    width: 95%;
    height: 255px;
    margin: 0px;
    margin-bottom: 20px;
}

.divact{
    width: 100%;
}

.imgvieux, .imgpom, .imgcal, .imgfri, .imgdame,.imglong{
    height: 75%;
}

.divfooter2{
    margin-bottom: 25px;
}

}